@charset "utf-8";
@font-face {
    font-family: "serif_bold";
    src: url(../font/KoPubWorld\ Batang\ Bold.woff2);
}
@font-face {
    font-family: "serif_medium";
    src: url(../font/KoPubWorld\ Batang\ Medium.woff2);
}
@font-face {
    font-family: "serif_light";
    src: url(../font/KoPubWorld\ Batang\ Light.woff2);
}
@font-face {
    font-family: "san_serif_light";
    src: url(../font/KoPubWorld\ Dotum\ Light.woff2);
}
@font-face {
    font-family: "san_serif_medium";
    src: url(../font/KoPubWorld\ Dotum\ Medium.woff2);
    
}
@font-face {
    font-family: "san_serif_bold";
    src: url(../font/KoPubWorld\ Dotum\ Bold.woff2);
}
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url(../font/arrowicon.woff2) format('woff2');
}
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(../font/bedicon.woff2) format('woff2');
}




.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}





html,body{margin:0;}
body{-ms-overflow-style: none;} 
::-webkit-scrollbar { display: none; }
p,h1{
    padding: 0;
    margin: 0;
}
img{vertical-align: middle;}

a{text-decoration: none;
    color: #707070;
}

*{
    box-sizing: border-box;
    letter-spacing: 0;
    font-size: 14px;
}
h2{
    margin: 0;
    padding: 0;
}
h3{
    margin: 0;
    padding: 0;
}
h4{
    margin: 0;
    padding: 0;
}

ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}

header{
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    z-index: 99999;
    top: 0;
    padding-bottom: 36px;
    transition: 0.3s;
}
header.active{
    transform: translateY(-100%);
}
div.gnbbox{
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
}

h1{
    font: 30px "serif_bold";
    margin-top: 37px;
    color: #000;
}
h1 > a{
    font: 30px "serif_bold";
    margin-top: 37px;
    color: #000;
}
.gnbbox >nav{
    vertical-align: top;
    width: 620px;
    display: flex;
    justify-content: space-between;
    
    
}
.gnbbox >nav >a{
    margin-top: 49px;
    font: 14px "serif_medium";
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    transition: 0.2s;
}
.gnbbox >nav > a:hover{
    font-family: "serif_bold";
    margin-top: 48px;
    /* font-size: 15px; */
    color: #000;
    transform: scale(1.07);
    transform-origin: left;
}

.login{
    margin-top: 49px;
    font: 14px "serif_medium";
    transition: 0.2s;
}
.login:hover{
    font-family: "serif_bold";
    margin-top: 48px;
    /* font-size: 15px; */
    color: #000;
    transform: scale(1.07);
    transform-origin: left;
}
.mobile{
    display: none;
}
.menu {
    overflow: hidden;
    width: 20px;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    vertical-align: middle;
    
}
.menu >span{
    width: 100%;
    border-bottom: solid 3px #fff;
}
.login_icon{
    width: 20px;
    height: 20px;
    display: block;
    background-image: url(../images/icon/profile.png);
    background-size: cover;
    
}
.m_nav{
    display: none;
}
div.m_nav{
    position: fixed;
    top: 61px;
    left: 0;
    width: 100%;
    background-color: #fff;
    
}
div.m_nav > div{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;

}
div.m_nav > div > a{
    font-size: 12px;
    font-family: "san_serif_bold";
}
.none{display: none;}





footer > div{
    background-color: #E1E1E1;
    border-bottom: solid 1px #C5C5C5;
}
footer > div:nth-of-type(2){
    background-color: #DCDCDC;
}

div.top_footer{
    width: 1280px;
    margin: 0 auto;
    padding: 11px 0;
}
div.top_footer > a{
    font:normal 14px "san_serif_medium";
    margin-right: 122px;
    color: #6A6A6A;
}
div.bottom_footer{
    position: relative;
    width: 1280px;
    margin: 0 auto;
    
}
div.bottom_footer > p{
    font:normal 12px/30px "san_serif_medium";
    white-space: pre-line;
    padding-top: 26px;
    padding-bottom: 14px;
    color: #6A6A6A;
}
div.bottom_footer > p:nth-of-type(2){
    padding: 0 0 43px 0;
}
div.bottom_footer > p > span{
    margin-left: 55px;
}
.bottom_footer >div{
    position: absolute;
    right: 0;
    top: 20%;
}
.bottom_footer >div img{
    width: 120px;
    height: 120px;
    margin-left: 20px;
}

/*
================================================================================
================================================================================
================================================================================
*/




@media (min-width:320px) and (max-width:767px){
    h1{
        margin: 0;
        font-size: 0;
    }
    .gnbbox  >h1 > a{
        font: 20px "san_serif_bold";
        color: #fff;}

    header{
        width: 100%;
        background-color: #17CBA0;
        padding-bottom: 15px;
    }
    div.gnbbox{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin: 15px auto 0;
    }
    .gnbbox >nav{
        display: none;
    }
    .mobile{
        display: block;
    }
    .login{
        display: none;
}
    
    
    input.none:checked ~ .gnbbox > div.m_nav{
        display: block;
    }

    div.top_footer{
        width: 100%;
        padding: 30px 0;
        display: flex;
        justify-content: space-around;
    }
    div.top_footer > a{
        font:normal 10px "san_serif_medium";
        margin-right: 0px;
        padding: 0px 10px;
        color: #6A6A6A;
    }

    .bottom_footer{
        display: none;
    }
    footer > div{
        background-color: #E1E1E1;
        border-bottom: none;
    }
    footer > div:nth-of-type(2){
        background-color: #DCDCDC;
    }
    


    
}

@media (min-width:768px) and (max-width:1023px){
    h1{
        margin: 0;
        font-size: 0;
    }
    .gnbbox  >h1 > a{
        font: 20px "san_serif_bold";
        color: #fff;}

    header{
        width: 100%;
        background-color: #17CBA0;
        padding-bottom: 15px;
    }
    div.gnbbox{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin: 15px auto 0;
    }
    .gnbbox >nav{
        display: none;
    }
    .mobile{
        display: block;
    }
    .login{
        display: none;
}
    
    
    input.none:checked ~ .gnbbox > div.m_nav{
        display: block;
    }

    div.top_footer{
        width: 100%;
        padding: 30px 0;
        display: flex;
        justify-content: space-around;
    }
    div.top_footer > a{
        font:normal 10px "san_serif_medium";
        margin-right: 0px;
        padding: 0px 10px;
        color: #6A6A6A;
    }

    .bottom_footer{
        display: none;
    }
    footer > div{
        background-color: #E1E1E1;
        border-bottom: none;
    }
    footer > div:nth-of-type(2){
        background-color: #DCDCDC;
    }



}

@media (min-width:1024px) and (max-width:1280px){
    header{
        width: 100%;
        background-color: #ffffff;
        position: fixed;
        z-index: 99999;
        top: 0;
        padding-bottom: 36px;
    }
    div.gnbbox{
        display: flex;
        justify-content: space-between;
        width: 1024px;
        margin: 0 auto;
    }
    
    h1{
        font: 30px "serif_bold";
        margin-top: 37px;
        color: #000;
    }
    h1 > a{
        font: 30px "serif_bold";
        margin-top: 37px;
        color: #000;
    }
    .gnbbox >nav{
        vertical-align: top;
        width: 480px;
        display: flex;
        justify-content: space-between;
        
        
    }
    .gnbbox >nav >a{
        margin-top: 49px;
        font: 14px "serif_medium";
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        transition: 0.2s;
    }
    .gnbbox >nav > a:hover{
        font-family: "serif_bold";
        margin-top: 48px;
        /* font-size: 15px; */
        color: #000;
        transform: scale(107%);
        transform-origin: left;
    }
    
    .login{
        margin-top: 49px;
        font: 14px "serif_medium";
        transition: 0.2s;
    }
    .login:hover{
        font-family: "serif_bold";
        margin-top: 48px;
        /* font-size: 15px; */
        color: #000;
        transform: scale(107%);
        transform-origin: left;
    }
    .mobile{
        display: none;
    }
    .menu {
        overflow: hidden;
        width: 20px;
        height: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        vertical-align: middle;
        
    }
    .menu >label{
        width: 100%;
        border-bottom: solid 3px #fff;
    }
    .login_icon{
        width: 20px;
        height: 20px;
        display: block;
        background-image: url(../images/icon/profile.png);
        background-size: cover;
        
    }
    .m_nav{
        display: none;
    }
    div.m_nav{
        position: fixed;
        top: 61px;
        left: 0;
        width: 100%;
        background-color: #fff;
        
    }
    div.m_nav > div{
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 20px;
    
    }
    div.m_nav > div > a{
        font-size: 12px;
        font-family: "san_serif_bold";
    }
    .none{display: none;}
    
    
    
    
    
    footer > div{
        background-color: #E1E1E1;
        border-bottom: solid 1px #C5C5C5;
    }
    footer > div:nth-of-type(2){
        background-color: #DCDCDC;
    }
    
    div.top_footer{
        width: 1024px;
        margin: 0 auto;
        padding: 11px 0;
    }
    div.top_footer > a{
        font:normal 14px "san_serif_medium";
        margin-right: 122px;
        color: #6A6A6A;
    }
    div.bottom_footer{
        position: relative;
        width: 1024px;
        margin: 0 auto;
        
    }
    div.bottom_footer > p{
        font:normal 12px/30px "san_serif_medium";
        white-space: pre-line;
        padding-top: 26px;
        padding-bottom: 14px;
        color: #6A6A6A;
    }
    div.bottom_footer > p:nth-of-type(2){
        padding: 0 0 43px 0;
    }
    div.bottom_footer > p > span{
        margin-left: 55px;
    }
    .bottom_footer >div{
        position: absolute;
        right: 0;
        top: 20%;
    }
    .bottom_footer >div img{
        width: 120px;
        height: 120px;
        margin-left: 20px;
    }
}